.blog-page {
}
.blog-page .main-content {
  background-color: transparent;
}
.blog-page .main-content .main-content-bg {
  position: absolute;
  top: 0;
  left: 0;

  background-size: cover;
  background-repeat: no-repeat;

  z-index: -1;

  background-image: url("../../assets/images/contact-page-header.png");
}

.blog-page .blog-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-page .live-to-ride-mobile {
  display: none;
}

.blog-page .live-to-ride {
  display: block;
}

.blog-page .blog-area .blog-content {
  width: 850px;

  background: #24ae94;

  border: 10px solid #fcf595;
  box-sizing: border-box;
  border-radius: 30px;
}

.blog-page .blog-area .blog-content p {
  margin: 20px 0px;
}

.blog-page .blog-area .blog-content .blog-wrapper {
  width: 350px;
  font-family: Montserrat;
  font-style: normal;
  font-size: 24px;
  line-height: 23px;
  text-align: left;
  color: #ffffff;

  padding: 40px 70px;
}

.blog-page .live-to-ride {
  position: absolute;
  right: 220px;
  bottom: 295px;
}
.blog-page .live-to-ride img {
  width: 400px;
}
@media (max-width: 720px) {
  .blog-page .main-content .main-content-bg {
    background-image: url("../../assets/images/blog-page-header-mobile.png");
  }

  .blog-page .main-content {
    height: 100%;
  }

  .blog-page .blog-area {
    top: 100px;
    width: auto;
    height: auto;
  }
  .blog-page .blog-area .blog-content {
    width: calc(100% - 40px);
  }
  .blog-page .blog-area .blog-content .blog-wrapper {
    width: calc(100% - 60px);
    padding: 0;
    padding-top: 20px;
    font-size: 11px;
    line-height: 1em;
    padding: 30px;
  }
  .blog-page .live-to-ride-mobile {
    display: block;
    text-align: center;
  }

  .blog-page .live-to-ride {
    display: none;
  }
}
