.home {
  z-index: 1;
}
.home .main-content {
  width: 100%;
  height: 100vh;
  background-color: #ddd;
  overflow: hidden;
}

.home .main-content > * {
  width: 100%;
}

.home .main-product {
  display: flex;
  flex-direction: row;
}

.home .main-product .main-product-spotlight {
  flex: 2;
  position: relative;
}

.home .main-product .main-product-spotlight img {
  width: 100%;
}

.home .main-product .main-product-information {
  flex: 1;
  padding: 50px 100px 50px 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.home .center-content {
}

.home .center-content > * {
  width: 100%;
}

.home-footer {
  position: relative;
}

.home-footer .home-footer-bg {
  width: 100%;
}

.home-footer .home-footer-quote {
  position: absolute;
  right: 100px;
  top: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-footer .home-footer-quote h3 {
  width: 897px;
  margin-bottom: 20px;
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 83px;

  color: #000000;
}

.home-footer .home-footer-quote span {
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;

  color: #000000;
}

.home-footer .home-footer-quote a {
  margin-top: 20px;
}
