.home {
  z-index: 1;
}
.home .main-content {
  width: 100%;
  height: 100vh;
  background-color: #ddd;
  overflow: hidden;
}

.home .main-content .main-content-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.home .product-list > *:first-child {
  margin-bottom: 10px;
}

.home .product-component {
  padding: 180px 0;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 10%;
  padding-left: 20%;
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: right;
  background-origin: content-box;
}

.home .product-component .product-component-description {
  width: 470px;
}
.home .product-component .product-component-description h4 {
  margin-bottom: 25px;
  text-align: left;
  padding-top: 50px;

  font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 69px;

  color: #010101;
}

.home .product-component .product-component-description h4 span {
  color: #8a1900;
}

.home .product-component .product-component-description p {
  color: #000000;
  margin-bottom: 30px;
  text-align: left;
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;

  color: #000000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  margin-bottom: 80px;
}

.home .product-component .product-component-description p span {
  color: #8a1900;
}
.home .product-component .product-component-image {
}

.home .center-content {
}

.home .center-content > * {
  width: 100%;
}

.home-footer {
  position: relative;
}

.home-footer .home-footer-bg {
  width: 100%;
}

.home-footer .home-footer-quote {
  position: absolute;
  right: 7%;
  top: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.home-footer .home-footer-quote h3 {
  max-width: 500px;
  margin-bottom: 20px;
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 63px;

  color: #000000;
}

.home-footer .home-footer-quote span {
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;

  color: #000000;
}

.home-footer .home-footer-quote a {
  margin-top: 20px;
}

.home-footer .owl-carousel .owl-item .item {
  width: 100%;
  max-height: 764px;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}
