.home {
  z-index: 1;
}
.main-content {
  width: 100%;
  height: 100vh;
  background-color: #ddd;
  overflow: hidden;

  background-position: center;
  background-size: cover;
}

.main-content > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-content .main-content-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.home .main-content {
  position: relative;
}
.home .learn-more-button {
  position: absolute;
  width: 300px;
  height: 81px;
  right: 110px;
  bottom: 73px;
  background: #242424;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;

  color: #ffffff;
  transition: 250ms all ease-in-out;
}
.home .learn-more-button:hover {
  background-color: var(--color-red);
}
.home .offer-text {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
}
.home .offer-text p {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

  color: var(--color-black);
}

.home .offer-text p span {
  color: var(--color-red-2);
}

.home .product-list > *:first-child {
  margin-bottom: 10px;
}

.home .product-component .product-component-image {
}

.home .center-content {
}

.home .center-content > * {
  width: 100%;
}

.home .center-seperator {
  width: 100vh;
  height: 190px;
  text-align: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #242424;

  padding: 0 25%;
}

.home .center-seperator > * {
  text-align: left;
}

.home .center-seperator h5 {
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;

  color: #242424;
}

.home .center-seperator p {
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;

  color: #242424;
}

.home-footer {
  position: relative;
}

.home-footer .home-footer-bg {
  width: 100%;
}

.home-footer .home-footer-quote {
  position: absolute;
  right: 7%;
  top: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.home-footer .home-footer-quote h3 {
  max-width: 500px;
  margin-bottom: 20px;
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 63px;

  color: #000000;
}

.home-footer .home-footer-quote span {
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;

  color: #000000;
}

.home-footer .home-footer-quote a {
  margin-top: 20px;
}

.home-footer .owl-carousel .owl-item .item {
  width: 100%;
  max-height: 764px;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}
