.home {
  z-index: 1;
}
.main-content {
  width: 100%;
  height: 100vh;
  background-color: #ddd;
  overflow: hidden;

  background-position: center;
  background-size: cover;
}

.main-content > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-content .main-content-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.home .main-content {
  position: relative;
}
.home .header-title {
  position: absolute;
  left: -2000px;
  top: calc(100vh - 50vh);
  width: 600px;
  height: 120px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  animation-name: titleAnimation;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes titleAnimation {
  0% {
    left: 0;
  }
  25% {
    left: calc(100vw / 4);
  }
  100% {
    left: 0;
    padding-left: 5%;
  }
}

.home .header-title h4 {
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 32px;
  color: var(--color-white);
}
.home .learn-more-button {
  width: 230px;
  height: 50px;

  opacity: 0;

  background: #242424;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;

  color: #ffffff;
  transition: 250ms all ease-in-out;

  animation-name: learnMoreButtonAnimation;
  animation-duration: 1s;
  animation-direction: normal;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
}
.home .learn-more-button:hover {
  background-color: var(--color-red);
}

@keyframes learnMoreButtonAnimation {
  from {
    opacity: 0;
    background-color: var(--color-red);
  }
  to {
    opacity: 1;
    background-color: #242424;
  }
}

.home .offer-text {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
}
.home .offer-text p {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

  color: var(--color-black);
}

.home .offer-text p span {
  color: #8a1900;
}

.home .product-list > *:first-child {
  margin-bottom: 10px;
}
.home .section-wrapper {
  display: flex;
}
.home .section-wrapper.even {
  flex-direction: row-reverse;
}
.home .section-wrapper .product-section-desc {
  text-align: left;
  flex: 1;
}

.home .section-wrapper > div p {
  font-size: 27px;
  line-height: 35px;
}
.home .section-wrapper .product-section-desc h4 {
  font-size: 42px;
  line-height: 1em;
  text-align: left;
  margin-bottom: 30px;
  color: var(--color-black);
}
.home .section-wrapper .product-section-image {
  flex: 1.2;
  height: 300px;
}

.home .section-wrapper .even {
  background-color: var(--color-white);
  color: var(--color-black);
}

.shipping-line {
  width: 100%;
  height: 190px;
  text-align: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #242424;

  padding: 0;
}
.shipping-line .shipping-line-content {
  margin-left: 30px;
}
.shipping-line > * {
  display: flex;
  text-align: left;
}

.shipping-line h5 {
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;

  color: #242424;
}

.shipping-line p {
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;

  color: #242424;
}

.home-footer {
  position: relative;
}

.home-footer .home-footer-bg {
  width: 100%;
}

.home-footer .home-footer-quote {
  position: absolute;
  right: 7%;
  top: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.home-footer .home-footer-quote h3 {
  max-width: 500px;
  margin-bottom: 20px;
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 63px;

  color: #000000;
}

.home-footer .home-footer-quote span {
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;

  color: #000000;
}

.home-footer .home-footer-quote a {
  margin-top: 20px;
}

.home-footer .owl-carousel .owl-item .item {
  width: 100%;
  max-height: 764px;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 720px) {
  .home .header-title {
    top: auto;
    bottom: 0;
    background-color: #00000050;
    padding: 20px;
  }
  .home .header-title h4 {
    font-size: 24px;
  }
  .home .offer-text p {
    font-size: 16px;
    padding: 10%;
    line-height: 1.5em;
  }
  .home .section-wrapper {
    flex-direction: column;
  }
  .home .section-wrapper.even {
    flex-direction: column;
  }
  .home .section-wrapper .product-section-desc h4 {
    padding: 0 40px;

    font-size: 36px;
    line-height: 39px;

    text-align: center;
  }

  .home .section-wrapper .product-section-desc p {
    padding: 0 40px;

    font-size: 18px;
    line-height: 18px;
    text-align: center;

    color: #000000;
  }
}
