.section-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 0;
  background-color: #fff;
  color: #444;
}
.section-wrapper > div {
  min-height: 620px;
}
.section-wrapper > div h4 {
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 65px;
  text-align: center;

  color: #000000;
  margin-bottom: 65px;
}

.section-wrapper > div p {
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
}
.section-wrapper > div.odd {
  background-color: var(--color-white);
  color: var(--color-black);
}
.section-wrapper > div.even {
  background-color: #242424;
  color: var(--color-white);
}
.section-wrapper > div.even h4 {
  color: var(--color-white);
}

.product-section-image > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.product-section-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 100%;
}
.product-section-desc > div {
  width: 400px;
}

.product-section-video {
  height: 975px;
}
.product-section-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bike-spec {
  background-color: var(--color-black);
  padding: 80px 100px;
  background-image: url("../../assets/images/product/spec-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bike-spec .header {
  font-family: Play;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 69px;
  letter-spacing: 0em;
  text-align: left;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 40px;
}

.bike-spec .header span {
  font-family: Play;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 69px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 10px;
}

.bike-spec .section-header {
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;

  text-align: left;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;

  padding-bottom: 18px;
}

.bike-spec .section-header.collapse-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.bike-spec .section-header.collapse-start .collapse-start-button {
  cursor: pointer;
}

.bike-spec .spec-items {
  transition: 250ms all ease-in-out;
}
.bike-spec .spec-items.collapsed {
  display: none;
  transition: 250ms all ease-in-out;
}

.bike-spec .spec-section {
  color: #ffffff;
}

.bike-spec .spec-section .spec-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 30%;
  padding-top: 20px;
}
.bike-spec .spec-section .spec-grid .spec-grid-item {
  padding: 20px;
  box-sizing: border-box;
  width: 50%;
  text-align: left;
}
.bike-spec .spec-section .spec-grid .spec-grid-item h4 {
  font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;

  color: #ffffff;
  max-width: 380px;
  margin-bottom: 17px;
}

.bike-spec .spec-section .spec-grid .spec-grid-item h5 {
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  color: #e5e5e5;

  margin-bottom: 5px;
}
.bike-spec .spec-section .spec-grid .spec-grid-item p {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  max-width: 380px;
  color: #e5e5e5;

  margin-bottom: 21px;
}

.bike-spec .spec-section .spec-grid .spec-grid-item .sm {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;

  color: #e5e5e5;
}

@media (max-width: 720px) {
  .section-wrapper > div {
    min-height: 420px;
  }
  .product-section-desc {
    background-color: #f4f4f4;
  }
  .product-section-desc > div {
    width: 100vw;
    padding: 0;
  }
}
