.product-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 70px;
}
.product-actions .product-action {
  height: 80px;
  width: 100%;
}

.product-actions .product-action.add-to-cart {
  background-image: url("../../assets/images/button_add_to_cart.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.product-actions .product-action.check-out-now {
  background-image: url("../../assets/images/button_check_out.png");
  background-repeat: no-repeat;
  background-size: contain;
}
