.about-us-page {
  background-color: #242424;
}
.about-us-page .col-image {
  height: 650px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-us-page .col-image img {
  width: 100%;
}
.about-us-page .col-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-us-page .col-text div {
  padding: 100px;
}
.about-us-page .col-text h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;

  text-align: left;

  color: var(--color-white);
  margin-bottom: 30px;
}

.about-us-page .col-text p {
  width: 398px;

  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;
  text-align: left;
  color: var(--color-white);
}

.about-us-page .white-content {
  background-color: var(--color-white);
  padding: 150px 15%;
  text-align: left;

  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;

  color: #000000;
}
