.checkout-page {
}

.checkout-page .main-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1720px;
  z-index: -1;
}

.checkout-page .main-content .main-content-bg {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;

  z-index: 0;
}

.checkout-page .checkout-wrapper {
  height: 1720px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 200px 106px;
  color: var(--color-white);
  background-image: url(../../assets/images/checkout-page-header.png);
  background-color: #000000;
  background-size: contain;
  background-repeat: repeat;
}
.checkout-page .checkout-wrapper .checkout-form {
  color: var(--color-white);
}
.checkout-page .checkout-wrapper .checkout-form h4 {
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 49px;
  text-align: left;
}
.checkout-page .checkout-wrapper .checkout-form form {
  margin-top: 28px;
}

.checkout-page .checkout-wrapper .checkout-form {
  width: 560px;
}
.checkout-page .checkout-wrapper .checkout-form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 27px;
}
.checkout-page .checkout-wrapper .checkout-form .form-group.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.checkout-page .checkout-wrapper .checkout-form .form-group.row .form-row {
  display: flex;
  flex-direction: column;
  width: 252px;
  margin-left: 20px;
}
.checkout-page
  .checkout-wrapper
  .checkout-form
  .form-group.row
  .form-row:first-child {
  margin-left: 0;
}
.checkout-page .checkout-wrapper .checkout-form .form-group label {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: left;

  color: #c4c4c4;
  margin-bottom: 10px;
}
.checkout-page .checkout-wrapper .checkout-form .form-group input,
.checkout-page .checkout-wrapper .checkout-form .form-group select {
  width: 100%;
  height: 52.53px;

  background: #ffffff;
  border-radius: 10px;

  text-indent: 20px;
  font-size: 16px;
  color: #000000;
}
.checkout-page .checkout-wrapper .checkout-form .form-group textarea {
  width: 100%;
  height: 120px;

  background: #ffffff;
  border-radius: 10px;

  text-indent: 20px;
  padding-top: 20px;
  font-size: 16px;
  color: #000000;

  outline: 0;
}
.checkout-page .checkout-wrapper .checkout-form .form-group button {
  color: #000000;
  background: var(--color-white);
  border-radius: 30px;

  padding: 10px 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  font-weight: bold;
  margin-left: auto;
}
.checkout-page .checkout-wrapper .checkout-form .form-group button:hover {
  color: var(--color-red);
}

.checkout-page .checkout-wrapper .checkout-details {
}
.checkout-page .checkout-wrapper .checkout-details h4 {
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 49px;

  text-align: left;
  color: #ffffff;

  margin-bottom: 14px;
}

.checkout-page .checkout-wrapper .checkout-details .checkout-items {
  display: flex;
  flex-direction: column;
  background: #000;
  padding-bottom: 20px;
}
.checkout-page
  .checkout-wrapper
  .checkout-details
  .checkout-items
  .checkout-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.checkout-page
  .checkout-wrapper
  .checkout-details
  .checkout-items
  .checkout-item
  .product {
  width: 345px;
  height: 61px;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  background: #ffffff;
}
.checkout-page
  .checkout-wrapper
  .checkout-details
  .checkout-items
  .checkout-item
  .product
  span {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.checkout-page
  .checkout-wrapper
  .checkout-details
  .checkout-items
  .checkout-item
  .action {
  margin: 0 10px;
  cursor: pointer;
}

.checkout-page
  .checkout-wrapper
  .checkout-details
  .checkout-items
  .checkout-item
  .action:hover {
  color: var(--color-red);
}

.checkout-payment-info {
  width: 345px;
  margin-top: 20px;
  padding: 20px;
  border-bottom: 1px solid var(--color-white);
  margin-bottom: 20px;
}
.checkout-payment-info .item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 40px;
}
.checkout-payment-info .item > * {
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
.checkout-amount {
  width: 345px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.checkout-amount span:first-child {
  text-decoration: underline;
}

.checkout-page .center-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-black);
  color: var(--color-white);
  height: 313px;
}

.checkout-page .center-content > div {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}
.checkout-page .center-content > div:first-child {
  background: #fff;
  font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 53px;
  display: flex;
  align-items: center;

  color: #000000;
}
.checkout-page .center-content > div:first-child h4 {
  width: 506px;

  font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 53px;

  text-align: left;
  color: #000000;
}
.checkout-page .center-content > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 80px;

  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: var(--color-white);
  background: #ffffff7a;
}

.checkout-page .center-content > div:last-child p {
  width: 505px;
  text-align: left;

  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.checkout-page .center-content > div:last-child input {
  width: 527px;
  height: 56px;

  background: #ffffff;
  border-radius: 10px;
  margin-top: 20px;
  padding: 0 20px;
  padding-right: 40px;
  font-size: 16px;
  color: #000000;
}

.checkout-page .search-form .form-group {
  position: relative;
}

.checkout-page .search-form .form-group .icon {
  position: absolute;
  right: 10px;
  top: 36px;
}
