.checkout-page {
}

.checkout-page .main-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1720px;
  z-index: -1;
}

.checkout-page .main-content .main-content-bg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 0;
}

.checkout-page .checkout-wrapper {
  height: 1720px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 200px 106px;
  color: var(--color-white);
  background-image: url(../../assets/images/checkout-page-header.png);
  background-color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.checkout-page .checkout-wrapper .checkout-form {
  color: var(--color-white);
}
.checkout-page .checkout-wrapper .checkout-form h4 {
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 49px;
  text-align: left;
  margin-top: 30px;
}
.checkout-page .checkout-wrapper .checkout-form h4:first-child {
  margin-top: 0;
}
.checkout-page .checkout-wrapper .checkout-form form {
  margin-top: 28px;
}

.checkout-page .checkout-wrapper .checkout-form {
  width: 560px;
}
.checkout-page .checkout-wrapper .checkout-form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 27px;
}
.checkout-page .checkout-wrapper .checkout-form .form-group.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.checkout-page .checkout-wrapper .checkout-form .form-group.row .form-row {
  display: flex;
  flex-direction: column;
  width: 252px;
  margin-left: 20px;
}
.checkout-page
  .checkout-wrapper
  .checkout-form
  .form-group.row
  .form-row:first-child {
  margin-left: 0;
}
.checkout-page .checkout-wrapper .checkout-form .form-group label {
  width: 80%;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: left;

  color: #fff;
  margin-bottom: 10px;
}
.checkout-page .checkout-wrapper .checkout-form .form-group input:not(.inherit),
.checkout-page .checkout-wrapper .checkout-form .form-group select {
  width: 100%;
  height: 52.53px;

  background: #ffffff;
  border-radius: 10px;

  text-indent: 20px;
  font-size: 16px;
  color: #000000;
}
.checkout-page .checkout-wrapper .checkout-form .form-group textarea {
  width: 100%;
  height: 120px;

  background: #ffffff;
  border-radius: 10px;

  text-indent: 20px;
  padding-top: 20px;
  font-size: 16px;
  color: #000000;

  outline: 0;
}
.checkout-page .checkout-wrapper .checkout-form .form-group.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.checkout-page .checkout-wrapper .checkout-form .form-group button {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;

  color: #ffffff;

  background: #242424;
  border-radius: 10px;

  padding: 10px 80px;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.checkout-page .checkout-wrapper .checkout-form .form-group button:hover {
  color: var(--color-red);
}

.checkout-page .payment-methods {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 20px;

  margin: 5px;
}

.checkout-page .payment-methods .payment-method {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  color: var(--color-black);
}
.checkout-page .payment-methods .payment-method:last-child {
  border-bottom: 0;
}
.checkout-page .payment-methods .payment-method .payment-method-select {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.checkout-page .payment-methods .payment-method .payment-method-logos {
  display: flex;
  flex-direction: row;
}
.checkout-page .payment-methods .payment-method .payment-method-logos img {
  margin: 0 2px;
  height: 100%;
}
.checkout-page .payment-methods .payment-method label {
  color: var(--color-black) !important;
  margin: 0 0 0 10px !important;
  font-size: 16px !important;
  padding: 0 !important;
}
.checkout-page .payment-methods input {
  width: 18px !important;
  height: 18px !important;
}

.checkout-page .payment-box {
  background: #fff;
  padding: 20px;

  color: #000;
  border-radius: 20px;
  margin-top: 30px;
}

.checkout-page .dark-box {
  width: 100%;
  background: rgba(36, 36, 36, 0.8);
  border-radius: 20px;

  text-align: left;

  padding-top: 20px;
  padding-bottom: 20px;
}

.checkout-page .dark-box > * {
  padding: 0 40px;
}

.checkout-page .dark-box > *:last-child {
  padding-top: 0;
}

.checkout-page .dark-box label {
  margin: 0 0 0 30px !important;
  font-size: 18px !important;
  padding: 0 !important;
  color: var(--color-white);
}

.checkout-page .dark-box .form-group.row {
  justify-content: flex-start !important;
}
.checkout-page .dark-box .form-group:last-child {
  margin: 0;
}
.checkout-page .dark-box .form-group input[type="radio"] {
  width: 18px !important;
  height: 18px !important;
}

.checkout-page .checkout-wrapper .checkout-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checkout-page .checkout-wrapper .checkout-details h4 {
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 49px;

  text-align: left;
  color: #ffffff;

  margin-bottom: 14px;
}

.checkout-page .checkout-wrapper .checkout-details .checkout-items {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.checkout-page
  .checkout-wrapper
  .checkout-details
  .checkout-items
  .checkout-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
}
.checkout-page
  .checkout-wrapper
  .checkout-details
  .checkout-items
  .checkout-item
  .product {
  width: 345px;
  height: 61px;
  display: flex;
  justify-content: space-between;

  padding: 0px 30px;
  background: #f4f5f4;
  border-radius: 10px;
  margin-bottom: 10px;
}
.checkout-page
  .checkout-wrapper
  .checkout-details
  .checkout-items
  .checkout-item
  .product
  span {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.checkout-page
  .checkout-wrapper
  .checkout-details
  .checkout-items
  .checkout-item
  .action {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout-page
  .checkout-wrapper
  .checkout-details
  .checkout-items
  .checkout-item
  .action:hover {
  color: var(--color-red);
}

.checkout-page
  .checkout-wrapper
  .checkout-details
  .checkout-items
  .checkout-item
  .action
  .product-action {
  padding: 5px 10px;
  border: 1px solid #ddd;
  background: #fff;
  color: #000;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;

  text-align: center;
}
.checkout-page
  .checkout-wrapper
  .checkout-details
  .checkout-items
  .checkout-item
  .action
  .product-action:hover {
  background: #ddd;
}
.checkout-page
  .checkout-wrapper
  .checkout-details
  .checkout-items
  .checkout-item
  .action
  .product-action.quantity {
  background: #c4c4c4;
}

.checkout-page
  .checkout-wrapper
  .checkout-details
  .checkout-items
  .checkout-item
  .action
  .product-action.remove {
  background: none;
  border: 0;
  padding: 0;
  color: #fff;
  margin-left: 20px;
}

.checkout-payment-info {
  width: 345px;
  margin-top: 20px;
  padding: 20px 0;
  border-top: 1px solid var(--color-white);
  border-bottom: 1px solid var(--color-white);
}
.checkout-payment-info .item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;
}
.checkout-payment-info .item > * {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  color: #ffffff;
}
.checkout-amount {
  width: 345px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;

  color: #ffffff;
}
.checkout-amount span:first-child {
  text-decoration: underline;
}

.checkout-information {
  width: 414px;
  height: 197px;

  background: rgba(36, 36, 36, 0.8);
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.checkout-information p {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;

  color: #ffffff;
}

.checkout-page .center-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-black);
  color: var(--color-white);
  height: 313px;
}

.checkout-page .center-content > div {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}
.checkout-page .center-content > div:first-child {
  background: #fff;
  font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 53px;
  display: flex;
  align-items: center;

  color: #000000;
}
.checkout-page .center-content > div:first-child h4 {
  width: 506px;

  font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 53px;

  text-align: left;
  color: #000000;
}
.checkout-page .center-content > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 80px;

  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: var(--color-white);
  background: #ffffff7a;
}

.checkout-page .center-content > div:last-child p {
  width: 505px;
  text-align: left;

  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.checkout-page .center-content > div:last-child input {
  width: 527px;
  height: 56px;

  background: #ffffff;
  border-radius: 10px;
  margin-top: 20px;
  padding: 0 20px;
  padding-right: 40px;
  font-size: 16px;
  color: #000000;
}

.checkout-page .search-form .form-group {
  position: relative;
}

.checkout-page .search-form .form-group .icon {
  position: absolute;
  right: 10px;
  top: 36px;
}

.checkout-page .payment-stripe input {
  border-radius: 6px;
  margin-bottom: 6px;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  max-height: 44px;
  font-size: 16px;
  width: 100%;
  background: white;
  box-sizing: border-box;
}

@media (max-width: 720px) {
  .checkout-page .checkout-wrapper {
    flex-direction: column-reverse;
    padding: 0;
    height: 100%;
    background-position: center;
  }
  .checkout-page .checkout-wrapper .checkout-details {
    background: #242424;
  }
  .checkout-page .checkout-wrapper .checkout-details .checkout-items {
    margin-top: 70px;
  }

  .checkout-information {
    display: none;
  }

  .checkout-page .checkout-wrapper .checkout-form {
    margin-top: 40px;
    width: 100%;
  }
  .checkout-page .checkout-wrapper .checkout-form > * {
    padding: 30px;
  }

  .checkout-page .dark-box {
    width: 100%;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .checkout-page .dark-box > * {
    padding: 0 20px;
  }
  .checkout-page .dark-box .form-group.row {
    flex-direction: row !important;
  }

  .checkout-page
    .checkout-wrapper
    .checkout-details
    .checkout-items
    .checkout-item
    .product {
    width: -webkit-fill-available;
  }

  .checkout-page .checkout-wrapper .checkout-details h4 {
    margin-top: 20px;
    text-align: center;
  }

  .checkout-page
    .checkout-wrapper
    .checkout-form
    .form-group
    input:not(.inherit),
  .checkout-page .checkout-wrapper .checkout-form .form-group select {
    width: -webkit-fill-available;
    border-radius: 5px;
    height: 39px;
  }

  .checkout-page .checkout-wrapper .checkout-form .form-group.row {
    flex-direction: column;
  }

  .checkout-page .checkout-wrapper .checkout-form .form-group.row .form-row {
    margin: 0;
    width: 100%;
  }

  .checkout-page .checkout-wrapper .checkout-form .form-group label {
    width: 80%;
    font-size: ;
  }

  .checkout-page .checkout-wrapper .checkout-form h4 {
    font-size: 38px;
  }

  .checkout-page
    .checkout-wrapper
    .checkout-form
    .form-group.row
    .form-row:last-child {
    margin-top: 20px;
  }
}
