.App {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 185px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  color: white;

  background-color: transparent;
  z-index: 2;
}

.App-header > *:first-child {
  padding-left: 42px;
}

.App-header > *:last-child {
  padding-right: 42px;
}

.App-link {
  color: #61dafb;
}

.App-header .rover-ebike-logo {
  position: absolute;
  top: 23px;
  left: 29px;
  width: 253px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
}
.App-header .rover-xy-menu {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 58px;
}
.App-header .rover-xy-menu > * {
  padding: 0px 50px;
}

.App-header .header-sub {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  margin-top: 44px;
}
.App-header .header-sub .cart-logo {
  width: 35px;
  height: 30px;
  position: fixed;
  top: 50px;
  right: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}
.App-header .header-sub .cart-logo a {
  width: 100%;
  height: 100%;
  display: block;
  background: url("./assets/icons/shopping_cart.svg") no-repeat center;
  background-size: contain;
  /* transform: scale(0.5); */
}

.App-header .header-sub .main-menu {
  /* width: 50px;
  height: 60px; */
}
.App-header .header-sub .main-menu a {
  /* width: 100%;
  height: 100%;
  display: block;
  background: url("./assets/icons/hamburger_menu.svg") no-repeat center;
  background-size: 50px 60px;
  transform: scale(0.5); */
}

.hamburger-menu {
  width: 35px;
  height: 30px;

  position: fixed;
  top: 50px;
  right: 50px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  cursor: pointer;
}

.hamburger-menu:hover .line {
  background-color: var(--color-red);
}
.line {
  width: 100%;
  height: 3px;
  background-color: var(--color-white);
  transition: all 0.5s;
}

.active .line-1 {
  transform: rotateZ(-405deg) translate(-8px, 6px);
}
.active .line-2 {
  opacity: 0;
}
.active .line-3 {
  transform: rotateZ(405deg) translate(-8px, -6px);
}

.navbar {
  width: 300px;
  height: 100%;
  background-color: #262626;

  position: fixed;
  top: 0;
  right: -300px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 20% 0 0 60%;
  transition: right 0.8s cubic-bezier(1, 0, 0, 1);
}

.navbar.active {
  right: 0;
}

.nav-list {
  text-align: right;
}

.nav-item {
  list-style: none;
  margin: 25px;
}

.nav-link {
  text-decoration: none;
  font-size: 22px;
  color: #eee;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  padding: 3px 0;
}

.nav-link::before,
.nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: chocolate;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.nav-link::before {
  top: 0;
  transform-origin: left;
}

.nav-link::after {
  bottom: 0;
  transform-origin: right;
}

.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1);
}

.App-footer {
  background-color: #000;
  padding-top: 70px;
  padding-left: 68px;
  padding-bottom: 40px;
  padding-right: 68px;
  min-height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: -4px;
}

.App-footer .rover-ebike-logo {
  width: 230px;
}

.App-footer .footer-links {
  color: #fff;
}

.App-footer .footer-links ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.App-footer .footer-links ul li {
  margin: 0 10px;
}
.App-footer .footer-links ul li a {
}

.App-footer .footer-social {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.App-footer .footer-social > * {
  margin: 0 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cookie-popup {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  left: 100px;
  bottom: 8%;
  width: 500px;
  height: 250px;

  background: rgba(0, 0, 0, 0.8);
  border-radius: 30px;
  padding: 40px;

  opacity: 0;
  transition: all 1s ease-in-out;
}

.cookie-popup.active {
  opacity: 1;
}

.cookie-popup p {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;

  text-align: left;
  color: #ffffff;
}

.cookie-popup .button {
  background: #ffffff;
  border-radius: 15px;
  padding: 10px 50px;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
  cursor: pointer;
}
