.App {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;

  padding: 0 90px;

  background-color: transparent;
  z-index: 2;
  transition: all 200ms ease-in;
}

.App-header.fixed {
  background-color: #000;
}

.App-header > *:first-child {
  padding-left: 42px;
}

.App-header > *:last-child {
  padding-right: 42px;
}

.App-link {
  color: #61dafb;
}

.App-header .rover-ebike-logo {
  position: absolute;
  top: 23px;
  left: 90px;
  width: 253px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  outline: none;
}
.App-header .rover-xy-menu {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 58px;
}
.App-header .rover-xy-menu > * {
  padding: 0px 50px;

  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.App-header .header-sub {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  margin-top: 44px;
}
.App-header .header-sub .cart-logo {
  width: 35px;
  height: 30px;
  position: fixed;
  top: 50px;
  right: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}
.App-header .header-sub .cart-logo a {
  width: 100%;
  height: 100%;
  display: block;
  background: url("./assets/icons/shopping_cart.svg") no-repeat center;
  background-size: contain;
  /* transform: scale(0.5); */
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.col {
  flex: 1;
}
.hidden {
  opacity: 0;
}
.button-dark {
  background: #242424;
  border-radius: 10px;
  padding: 20px 40px;

  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;

  align-items: center;
  text-align: center;

  color: #ffffff;
}

.cart-badge {
  position: absolute;
  top: -7px;
  right: 0;
  background-color: #ff0101;
  border-radius: 50%;
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 250ms all ease-in-out;
}

.cart-badge span {
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;

  color: #ffffff;
}
.hamburger-menu {
  width: 35px;
  height: 30px;

  position: fixed;
  top: 50px;
  right: 90px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  cursor: pointer;
  z-index: 9;
}

.hamburger-menu:hover .line {
  background-color: var(--color-red);
}
.line {
  width: 100%;
  height: 3px;
  background-color: var(--color-white);
  transition: all 0.5s;
}

.active .line-1 {
  transform: rotateZ(-405deg) translate(-8px, 6px);
}
.active .line-2 {
  opacity: 0;
}
.active .line-3 {
  transform: rotateZ(405deg) translate(-8px, -6px);
}

.navbar {
  width: 300px;
  height: 100%;
  background-color: rgba(38, 38, 38, 0.8);

  position: fixed;
  top: 0;
  right: -300px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0%;
  transition: right 0.8s cubic-bezier(1, 0, 0, 1);
}

.navbar.active {
  right: 0;
}

.nav-list {
  text-align: right;
}

.nav-item {
  list-style: none;
  margin: 25px;
}

.nav-link {
  text-decoration: none;
  font-size: 22px;
  color: #eee;
  font-weight: 300;
  letter-spacing: 1px;
  position: relative;
  padding: 3px 0;
}

.nav-link::before,
.nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.nav-link::before {
  top: 0;
  transform-origin: left;
}

.nav-link::after {
  bottom: 0;
  transform-origin: right;
}

.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1);
}

#main {
  min-height: calc(100vh - 210px);
}

.App-footer {
  background-color: var(--color-footer);
  padding-top: 35px;
  padding-left: 68px;
  padding-bottom: 35px;
  padding-right: 68px;
  min-height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: -4px;
}

.App-footer .rover-ebike-logo {
  width: 230px;
}

.App-footer .footer-links {
  color: #fff;
}

.App-footer .footer-links ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.App-footer .footer-links ul li {
  margin: 0 10px;
}
.App-footer .footer-links ul li a {
}

.App-footer .footer-social {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.App-footer .footer-social > * {
  margin: 0 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rover-xy-menu {
  position: absolute;
  top: 58px;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;

  width: 441px;
  z-index: 9;
}

.cookie-popup {
  position: fixed;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  left: 100px;
  bottom: -300px;
  width: 500px;
  height: 250px;

  background: rgba(0, 0, 0, 0.9);
  border-radius: 30px;
  padding: 40px;

  opacity: 0;
  transition: all 1s ease-in-out;
}

.cookie-popup.active {
  bottom: 2.5%;
  display: flex;
  opacity: 1;
  z-index: 999;
}

.cookie-popup p {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  text-align: left;
  color: #ffffff;
}

.cookie-popup a {
  text-decoration: underline;
}

.cookie-popup .button {
  background: #ffffff;
  border-radius: 15px;
  padding: 10px 50px;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
  cursor: pointer;
}

@media (max-width: 720px) {
  .App-header {
    width: 100vw;
    height: 70px;
    padding: 0;
    background: rgba(0, 0, 0, 0.3);
  }

  .App-header > *:first-child {
    padding: 0;
  }

  .App-header .rover-ebike-logo {
    width: 150px;
    top: 10px;
    left: 50%;
    margin-left: -75px;
  }
  .App-header .header-sub {
    width: 20px;
  }
  .hamburger-menu {
    top: 20px;
    left: calc(100vw - 60px);
  }

  .App-header .header-sub .cart-logo {
    top: 20px;
    left: 30px;
  }

  .App-footer {
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
  }
  .App-footer .footer-links {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    padding: 0px 10px;
  }
  .App-footer .footer-links ul {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
  .App-footer .footer-links ul li {
    margin-top: 15px;
  }
  .App-footer .footer-social {
    margin: auto;
    margin-top: 30px;
  }

  .cookie-popup {
    left: 0;
    width: 100vw;
    padding: 0;
  }
  .cookie-popup p {
    font-size: 16px;
    padding: 20px;
    line-height: 1.5em;
  }
}
