@font-face {
  font-family: "Play";
  src: url("/src/assets/fonts/Play/Play-Regular.ttf");
}
@font-face {
  font-family: "PlayBold";
  src: url("/src/assets/fonts/Play/Play-Bold.ttf");
}
:root {
  --main-font: "Arial", sans-serif;
  --secondary-font: "Play", sans-serif;
  --secondary-font-bold: "PlayBold", sans-serif;
}
html {
  height: 100%;
}
body {
  margin: 0;
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(51, 51, 51, 1);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  min-height: calc(100vh - 10px);
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #8a1900;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a.dark_button {
  border: 1px solid #000;
  background: #000000;
  border-radius: 15px;
  color: #fff;
  padding: 10px 30px;
  transition: 400ms all ease-in-out;
}

a.dark_button:hover {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}
