.featured-products {
  background: var(--color-white);
  padding: 70px 0;
}

.featured-products .items.mobile {
  display: none;
}
.featured-products h4 {
  font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 39px;
  text-align: center;

  color: var(--color-black);
}
.featured-products .items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 180px;
  margin-top: 55px;
}
.featured-products .items .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 100%;
}
.featured-products .items .item h4 {
  font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;

  color: #000000;
}
.featured-products .items .item h5 {
  font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #8a1900;
}
.featured-products .items .item .image {
  display: flex;
  max-width: 400px;
  padding: 30px;
  cursor: pointer;
}
.featured-products .items .item .image img {
  width: 100%;
}
.featured-products .items .item .add-to-cart {
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #ffffff;

  background: #000000;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
}

.featured-products .items .item .add-to-cart:hover {
  background-color: var(--color-red);
  color: var(--color-white);
}
.featured-products .items .item .add-to-cart.added {
  background-color: #0c770c;
}
.featured-products .items .item .plus {
  position: absolute;
  right: 0;
  bottom: 50px;
  width: 30px;
  height: 30px;
  border: 0;
  outline: 0;
  background: transparent;
  background-image: url("../../assets/icons/plus-small.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.modal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 200px;
}

.ReactModal__Content {
  padding: 0 !important;
}

.modal .column {
  flex: 1;

  height: 200px;
}
.modal .left {
  background: #fff;
}
.modal .right {
  background: #000;
}

@media (max-width: 720px) {
  .featured-products .items {
    flex-direction: column;
    padding: 0 20px;
  }
  .featured-products .items.mobile {
    display: block;
  }
  .featured-products .items.desktop {
    display: none;
  }

  .featured-products .react-slideshow-container + ul.indicators {
    position: relative;
    top: auto;
    left: auto;

    display: flex;
    flex-direction: row;
  }
  .featured-products .react-slideshow-container + ul.indicators span {
    width: 20px;
    height: 20px;
    background: #242424;
    margin: 2px;
    border-radius: 50%;
  }
  .featured-products .react-slideshow-container + ul.indicators span.active {
    background: #c4c4c4;
  }
}
