.component-grid-desktop {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-gap: 35px;
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-rows: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  color: #444;

  width: 100%;
  min-height: 400px;

  padding: 100px 0px;
}

.component-grid-mobile {
  display: none;
}

.component-grid .component-grid-item {
  background: rgba(36, 36, 36, 0.8);
  border-radius: 20px;

  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 60px 55px;
}

.component-grid .component-grid-item .icon {
  margin-bottom: 40px;
}
.component-grid .component-grid-item .icon img {
}
.component-grid .component-grid-item .title {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;

  color: #ffffff;

  margin-bottom: 20px;
}
.component-grid .component-grid-item .content {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;

  color: #ffffff;
}

@media (max-width: 720px) {
  .component-grid-desktop {
    display: none;
  }
  .component-grid-mobile {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .component-grid-mobile > div {
    height: 100%;
    padding-top: 96px;
  }
  .component-grid-mobile .component-grid-item {
    width: calc(100vw - 200px);
    margin: auto;
  }
  .shipping-line {
    display: none;
  }
  .component-grid-mobile .react-slideshow-container {
  }
}
