.home-product {
  display: flex;
  flex-direction: row;
  background-color: #010101;
  min-height: 932px;
  position: relative;
}
.home-product .home-product-spotlight {
  width: 100vw;
  position: relative;
}
.home-product .home-product-spotlight .each-slide div {
  height: 980px;
  background-repeat: no-repeat;
  background-position: center;
}

.home-product
  .home-product-spotlight
  .react-slideshow-container
  + ul.indicators {
  position: absolute;
  top: 0;
  right: 100px;
  left: auto;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.home-product .spotlight-pager {
  width: 20px;
  height: 20px;
  background-color: #c4c4c4;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}
.home-product .spotlight-pager.active {
  background-color: #8a1900;
}

.home-product .home-product-information {
  position: absolute;
  left: 10%;
  top: 20px;

  padding: 50px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}
.home-product .product-heading {
  font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 83px;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.home-product .product-heading span {
  color: #ffffff;
  margin-left: 0.3em;
}
.home-product .product-heading span:first-child {
  margin: 0 0.3em 0 0;
}
.home-product .product-name {
  margin-bottom: 52px;

  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
  line-height: 116px;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.home-product .product-name span {
  font-size: 56px;
}
.home-product .product-price {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 55px;

  color: #8a1900;
}

.home-product .product-old-price {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #ffffff;
  text-decoration: line-through;
  text-decoration-color: #8a1900;
}

.home-product .explore-button {
  width: 262px;
  padding: 20px;
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  background: #828282;
  border-radius: 30px;
  margin-top: 40px;
  color: #ffffff;
  transition: all 250ms ease-in-out;
}

.home-product .explore-button:hover {
  background-color: var(--color-white);
  color: #000;
}

.home-product .react-slideshow-wrapper .images-wrap > div {
  width: 100vw;
}
.home-product .product-description {
  width: 337px;
  margin-top: 20px;
  margin-bottom: 20px;

  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.home-product .product-description p {
  margin-bottom: 20px;
}
.home-product .product-rotates {
  display: flex;
  flex-direction: row;
}
.home-product .product-rotates .product-rotate {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.home-product .product-rotates .product-rotate:first-child {
  margin: 0;
}
.home-product .product-rotates .product-rotate {
  margin: 0 10px;
}
.home-product .product-rotate.rx {
  width: 47px;
  height: 28px;

  background: #ffffff;
  border: 1px solid #8a1900;
  color: #8a1900;
}
.home-product .product-rotate.ry {
  width: 47px;
  height: 28px;

  background: #000000;
  border: 1px solid #ffffff;
  color: #fff;
}
.product-actions {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}
.product-actions.modal {
  background: #000;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 80px;
  align-items: center;
  padding: 20px;
  width: calc(100% - 40px);
}
.product-actions .product-action {
  display: flex;
  align-items: flex-end;
  margin-right: 80px;
  cursor: pointer;
}
.product-actions .product-action:hover .icon {
  -ms-transform: rotate(360deg); /* IE 9 */
  transform: rotate(360deg);
}
.product-actions .product-action:hover a {
  color: #8a1900;
}
.product-actions .product-action:last-child {
  margin-right: 0;
}
.product-actions .product-action span {
  display: inline-block;
  width: 40px;
  height: 40px;

  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center;
}

.product-actions .product-action .icon {
  width: 40px;
  height: 40px;

  background: rgba(229, 229, 229, 0.1);

  border-radius: 50%;
  padding: 10px;

  transition: transform 500ms ease;
}

.product-actions .product-action > * {
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #ffffff;
}
.product-actions .product-action.add-to-cart span {
  background-image: url("../icons/plus.svg");
}

.product-actions .product-action.check-out-now span {
  background-image: url("../icons/checkout.svg");
}

@media (max-width: 720px) {
  .home-product .home-product-information {
    left: 20px;
    top: 20px;
    padding: 0;
  }
  .home-product .product-heading {
    font-size: 24px;
    line-height: 1.5em;
  }
  .home-product .product-name {
    font-size: 32px;
    line-height: 1.5em;
  }
  .home-product .product-old-price {
    font-size: 16px;
    line-height: 1em;
  }
  .home-product .product-price {
    font-size: 24px;
  }
  .home-product .explore-button {
    width: 100px;

    background: #828282;
    border-radius: 5px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 14px;

    color: #f4f5f4;
  }

  .home-product .home-product-spotlight .each-slide div {
    height: 100vw;
    background-size: 90%;
  }

  .home-product {
    min-height: 300px;
  }

  .home-product
    .home-product-spotlight
    .react-slideshow-container
    + ul.indicators {
    right: 10px;
  }
}
