.product-page {
  padding-top: 110px;
  background-color: var(--color-black);
}

.product-page .top-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  background-color: var(--color-white);
  text-align: center;
}

.product-page .top-message p {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.product-page .top-message p span {
  color: var(--color-red);
}

.product-page .main-product {
  display: flex;
  flex-direction: row;
  height: 800px;
  position: relative;
}

.product-page .main-product .main-product-spotlight {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  max-width: 1070px;
  height: 800px;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

.product-page .main-product .main-product-spotlight img {
  width: 100%;
}

.product-page .main-product .main-product-information {
  position: absolute;
  right: 10%;
  top: 97px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.product-page .product-heading {
  font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;

  color: var(--color-white);

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.product-page .product-heading span {
  color: var(--color-red);
}

.product-page .product-name {
  font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 93px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  margin-bottom: 68px;
}
.product-page .product-name img {
  width: 370px;
  height: 125px;
}
.product-page .product-name span {
  font-size: 56px;
}

.product-page .product-old-price {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: var(--color-white);
  text-decoration: line-through;
  padding: 0px 10px;
  text-decoration-color: var(--color-red-2);
  text-underline-offset: 2px;
}

.product-page .product-price {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: var(--color-red-2);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.product-page .product-description {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 305px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #e5e5e5;
}

.product-page .product-description p {
  margin-bottom: 20px;
}

.product-page .product-rotates {
  display: flex;
  flex-direction: row;
}
.product-page .product-rotates .product-rotate {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.product-page .product-rotates .product-rotate:first-child {
  margin: 0;
}
.product-page .product-rotates .product-rotate {
  margin: 0 10px;
}
.product-page .product-rotate.rx {
  width: 47px;
  height: 28px;

  background: var(--color-black);
  border: 3px solid var(--color-white);
  color: var(--color-white);
}
.product-page .product-rotate.ry {
  width: 47px;
  height: 28px;

  background: var(--color-white);
  border: 3px solid var(--color-red-2);
  color: var(--color-red-2);
}
