.reviews {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px;
  text-align: left;
}
.reviews-mobile {
  display: none;
}
.reviews .reviews-desktop > h5 {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 90px;
  line-height: 104px;

  text-align: left;
  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.reviews .reviews-desktop > h5:after {
  content: "";
  height: 1px;
  background: var(--color-white);
  display: block;
}

.reviews .review-items {
  display: flex;
  grid-template-columns: repeat(3, max-content);
  grid-gap: 30px;
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-rows: auto;
  align-items: flex-start;
  align-content: space-evenly;
  justify-content: center;

  background-repeat: no-repeat;
  background-size: cover;
  color: #444;

  width: 100%;
  min-height: 500px;

  padding: 100px 0px;
}

.reviews .review-items .review-item {
  background: rgba(244, 245, 244, 0.8);
  border-radius: 20px;

  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 80px 50px;
  width: calc(100% / 3);
  height: 450px;
}

.reviews .review-items .review-item .image {
  margin-bottom: 40px;
}

.reviews .review-items .review-item .name {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 41px;

  color: #000000;
  margin-bottom: 30px;
}
.reviews .review-items .review-item .content {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;

  color: #000000;
  margin-top: 20px;
}

@media (max-width: 720px) {
  .reviews {
    padding: 0;
    height: 560px !important;
    background: #fff;
    background-image: none !important;
  }

  .reviews-desktop {
    display: none;
  }
  .reviews-mobile {
    display: block;
  }
  .reviews-mobile > div {
    height: 100%;
    padding-top: calc(100% - 500px / 2);
  }
  .reviews-mobile .review-items {
    display: block;
    padding: 40px 0;
  }
  .reviews .review-items .review-item {
    width: 100%;
    height: auto;
  }
  .reviews-mobile .review-item {
    width: calc(100vw);
    margin: auto;
  }
  .reviews-mobile .review-items .review-item {
    background: none;
    padding: 0 10px;
  }
  .reviews-mobile .review-items .review-item .content {
    width: 80%;
    text-align: center;
    font-size: 16px;
  }
}
