.warranty-page .main-content {
  height: 100%;

  padding-top: 180px;
  padding-bottom: 20px;
}

.warranty-page .main-content:last-child {
  padding-top: 20px;
}
.warranty-page .center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.warranty-page .center-wrapper .center-content {
  width: 1144px;
  height: 100%;
  padding: 100px 75px;

  background: rgba(36, 36, 36, 0.8);
  border-radius: 50px;

  color: #fff;
  text-align: left;

  position: relative;
}

.center-wrapper .center-content h4 {
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 65px;

  margin-bottom: 30px;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.center-content .center-content h5 {
  font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

  color: #ffffff;
}

.center-wrapper .center-content p {
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #ffffff;

  margin-bottom: 20px;
}

.center-wrapper .center-content .button {
  width: 262px;

  background: #f4f5f4;
  border-radius: 50px;

  padding: 30px 20px;

  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  text-align: center;

  color: #000000;
  text-align: center;

  position: absolute;
  right: 100px;
}

.warranty-page .shipping-line {
  background-color: #242424;
}

.warranty-page .shipping-line img {
  fill: var(--color-white);
}

.warranty-page .shipping-line * {
  color: var(--color-white);
}
